.header{
    background-image: url("../images/NoahChloe.jpg"); 
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 300px; */
    width: 100%;
    text-align: center;
    color: white;
    height: 100vh;
}

button{
    border-radius: 20px;
}