.quiz-container{
    background-image: url("../images/NoahRestsm.jpg"); 
     position: absolute;
    background-repeat: no-repeat;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
     width: 100%;
    color: black;
      height: 90vh;    
     /* height: max-content;   */
    margin:0;
    font-size: medium;
    padding-bottom: 100px;
    /* overflow: hidden; */
}


.quiz-container .question{
    font-weight: 700;
    /* font-weight: bold; */
}

.h1over{
    text-align: center;
}

button{
    border-radius: 20px;
    width: 200px;
}

.question{
    margin-top: 10px;
}

.q-wrapper{
    margin-bottom: 10px;
}

.quiz-content{
    background-color:rgba(255,255,255,0.6);;
    width: 50%;
    margin: 50px;
    /* margin-bottom: 30px; */
}
.quiz-content button{
    width: 200px;
    margin-bottom: 20px;
    height:40px;
}

form{
    margin-left: 90px;
}

