.quiz-container{
    background-image: url("../images/NoahRelax.jpg"); 
    /* position: absolute; */
    background-repeat: no-repeat;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 300px; */
    width: 100%;
    /* text-align: center; */
    color: black;
     /* height: 100vh;   */
    height: max-content; 
    margin:0;
    font-size: medium;
    padding-bottom: 100px;
}
.container .question{
    font-weight: 700;
}

.h1over{
    text-align: center;
}

button{
    border-radius: 20px;
    width: 200px;
}

.question{
    margin-top: 10px;
}

.q-wrapper{
    margin-bottom: 10px;
}


