.search-container{
    background-image: url("../images/NoahRun.jpg"); 
    position: absolute; 
     background-repeat: no-repeat;
     background-size: cover;
     width:100%;
    color: black;
     /* height: 100vh;  */
    height: max-content;
    margin:0;
    font-size: large;
}



.search-wrapper{
    background: white;
    width:50%;
    opacity: 1.0;
    margin-left: 450px;
    margin-top: 50px;
    height: 60%;
}

.search-wrapper h1{
    text-align: center;
   
}


.search-container .bg{
    /* background-image: url("../images/NoahRun.jpg");  */
    /* position: absolute; */
    /* background-repeat: no-repeat;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
     width: 100%;
     height: 100vh;
     padding-bottom: 200px; */
     /* opacity: .5; */
}

.content-wrapper{
    margin:30px;
}

.content-wrapper h1{
    margin-left: 30px;
}

.content-wrapper p{
    margin-right: 30px;
    font-size: large;
}

h1{
    margin-left: 30px;
}
