.container{
    background-image: url("../images/NoahRun.jpg"); 
    /* position: absolute; */
    background-repeat: no-repeat;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 300px; */
    width: 100%;
    /* text-align: center; */
    color: black;
    height: 100vh;
    margin:0;
    font-size: large;
}

.search-wrapper{
    background: white;
}