.search-container{
    background-image: url("../images/NoahRun.jpg"); 
    position: absolute; 
     background-repeat: no-repeat;
     background-size: cover;
     width:100%;
    color: black;
     /* height: 100vh;  */
    height: max-content;
    margin:0;
    font-size: large;
}



.search-wrapper{
    background: white;
    width:60%;
    opacity: 1.0;
    margin-left: 300px;
    margin-top: 50px;
    box-shadow: 3px 3px 3px  #899fa6;
    /* height: 400px; */
}

.search-wrapper h1{
    text-align: center;
   
}




.content-wrapper{
    margin:30px;
}

.content-wrapper h1{
    margin-left: 30px;
}

.content-wrapper p{
    margin-right: 50px;
    font-size: medium;
}

h1{
    margin-left: 30px;
}

.list-group-item img{
   
    margin-right: 80px;
}